@page "/stickers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BalatroWikiApp.Models
@implements IAsyncDisposable
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="stickers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Stickers">
    <PropertyColumn Property="sticker => sticker.NameSticker" />
    <PropertyColumn Property="sticker => sticker.DescriptionSticker" />
    <PropertyColumn Property="sticker => sticker.EffectSticker" />

    <TemplateColumn Context="sticker">
        <a href="@($"stickers/edit?id={sticker.Id}")">Edit</a> |
        <a href="@($"stickers/details?id={sticker.Id}")">Details</a> |
        <a href="@($"stickers/delete?id={sticker.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BalatroDBContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
