@page "/tarotcards/create"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Tarotcard</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Tarotcard" OnValidSubmit="AddTarotcard" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nametarot" class="form-label">NameTarot:</label> 
                <InputText id="nametarot" @bind-Value="Tarotcard.NameTarot" class="form-control" /> 
                <ValidationMessage For="() => Tarotcard.NameTarot" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="effecttarot" class="form-label">EffectTarot:</label> 
                <InputText id="effecttarot" @bind-Value="Tarotcard.EffectTarot" class="form-control" /> 
                <ValidationMessage For="() => Tarotcard.EffectTarot" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/tarotcards">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Tarotcard Tarotcard { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTarotcard()
    {
        using var context = DbFactory.CreateDbContext();
        context.Tarotcards.Add(Tarotcard);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/tarotcards");
    }
}
