@page "/tarotcards/edit"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Tarotcard</h2>
<hr />
@if (Tarotcard is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Tarotcard" OnValidSubmit="UpdateTarotcard" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Tarotcard.Id" value="@Tarotcard.Id" />
                <div class="mb-3">
                    <label for="nametarot" class="form-label">NameTarot:</label>
                    <InputText id="nametarot" @bind-Value="Tarotcard.NameTarot" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Tarotcard.NameTarot" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="effecttarot" class="form-label">EffectTarot:</label>
                    <InputText id="effecttarot" @bind-Value="Tarotcard.EffectTarot" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Tarotcard.EffectTarot" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/tarotcards">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Tarotcard? Tarotcard { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Tarotcard ??= await context.Tarotcards.FirstOrDefaultAsync(m => m.Id == Id);

        if (Tarotcard is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateTarotcard()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Tarotcard!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TarotcardExists(Tarotcard!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/tarotcards");
    }

    private bool TarotcardExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Tarotcards.Any(e => e.Id == id);
    }
}
