@page "/cards/delete"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Card</h2>
    <hr />
    @if (card is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">NameCard</dt>
            <dd class="col-sm-10">@card.NameCard</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">FamilyCard</dt>
            <dd class="col-sm-10">@card.FamilyCard</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsEnhanced</dt>
            <dd class="col-sm-10">@card.IsEnhanced</dd>
        </dl>
        <EditForm method="post" Model="card" OnValidSubmit="DeleteCard" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(card is null)">Delete</button> |
            <a href="/cards">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Card? card;

    [SupplyParameterFromQuery]
    private int NumCard { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        card = await context.Cards.FirstOrDefaultAsync(m => m.NumCard == NumCard);

        if (card is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteCard()
    {
        using var context = DbFactory.CreateDbContext();
        context.Cards.Remove(card!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/cards");
    }
}
