@page "/cards"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BalatroWikiApp.Models
@implements IAsyncDisposable
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="cards/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Cards.Include(c => c.NameEnhanced)">
    <PropertyColumn Property="card => card.NameCard" />
    <PropertyColumn Property="card => card.FamilyCard" />
    <PropertyColumn Property="card => card.IsEnhanced" />
    <PropertyColumn Property="card => card.NameEnhanced" />
    <PropertyColumn Property="card => card.ImageCard" />

    <TemplateColumn Context="card">
        <a href="@($"cards/edit?id={card.Id}")">Edit</a> |
        <a href="@($"cards/details?id={card.Id}")">Details</a> |
        <a href="@($"cards/delete?id={card.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BalatroDBContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
