@page "/spectralcards/details"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Spectralcard</h2>
    <hr />
    @if (spectralcard is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">NameSpectral</dt>
            <dd class="col-sm-10">@spectralcard.NameSpectral</dd>
            <dt class="col-sm-2">EffectSpectral</dt>
            <dd class="col-sm-10">@spectralcard.EffectSpectral</dd>
        </dl>
        <div>
            <a href="@($"/spectralcards/edit?id={spectralcard.Id}")">Edit</a> |
            <a href="@($"/spectralcards")">Back to List</a>
        </div>
    }
</div>

@code {
    private Spectralcard? spectralcard;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        spectralcard = await context.Spectralcards.FirstOrDefaultAsync(m => m.Id == Id);

        if (spectralcard is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
