@page "/spectralcards"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BalatroWikiApp.Models
@implements IAsyncDisposable
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="spectralcards/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Spectralcards">
    <PropertyColumn Property="spectralcard => spectralcard.NameSpectral" />
    <PropertyColumn Property="spectralcard => spectralcard.EffectSpectral" />

    <TemplateColumn Context="spectralcard">
        <a href="@($"spectralcards/edit?id={spectralcard.Id}")">Edit</a> |
        <a href="@($"spectralcards/details?id={spectralcard.Id}")">Details</a> |
        <a href="@($"spectralcards/delete?id={spectralcard.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BalatroDBContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
