@page "/planetcards/details"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Planetcard</h2>
    <hr />
    @if (planetcard is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">NamePlanet</dt>
            <dd class="col-sm-10">@planetcard.NamePlanet</dd>
            <dt class="col-sm-2">HandPlanet</dt>
            <dd class="col-sm-10">@planetcard.HandPlanet</dd>
        </dl>
        <div>
            <a href="@($"/planetcards/edit?idplanet={planetcard.IdPlanet}")">Edit</a> |
            <a href="@($"/planetcards")">Back to List</a>
        </div>
    }
</div>

@code {
    private Planetcard? planetcard;

    [SupplyParameterFromQuery]
    private int IdPlanet { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        planetcard = await context.Planetcards.FirstOrDefaultAsync(m => m.IdPlanet == IdPlanet);

        if (planetcard is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
