@page "/tags/edit"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Tag</h2>
<hr />
@if (Tag is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Tag" OnValidSubmit="UpdateTag" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Tag.Id" value="@Tag.Id" />
                <div class="mb-3">
                    <label for="nametag" class="form-label">NameTag:</label>
                    <InputText id="nametag" @bind-Value="Tag.NameTag" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Tag.NameTag" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="effecttag" class="form-label">EffectTag:</label>
                    <InputText id="effecttag" @bind-Value="Tag.EffectTag" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Tag.EffectTag" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imagetag" class="form-label">ImageTag:</label>
                    <InputText id="imagetag" @bind-Value="Tag.ImageTag" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Tag.ImageTag" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/tags">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Tag? Tag { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Tag ??= await context.Tags.FirstOrDefaultAsync(m => m.Id == Id);

        if (Tag is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateTag()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Tag!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TagExists(Tag!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/tags");
    }

    private bool TagExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Tags.Any(e => e.Id == id);
    }
}
