@page "/tags"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BalatroWikiApp.Models
@using BalatroWikiApp.Models
@implements IAsyncDisposable
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="tags/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Tags">
    <PropertyColumn Property="tag => tag.NameTag" />
    <PropertyColumn Property="tag => tag.EffectTag" />

    <TemplateColumn Context="tag">
        <a href="@($"tags/edit?idtag={tag.IdTag}")">Edit</a> |
        <a href="@($"tags/details?idtag={tag.IdTag}")">Details</a> |
        <a href="@($"tags/delete?idtag={tag.IdTag}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BalatroDBContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
