@page "/consumables/create"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Consumable</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Consumable" OnValidSubmit="AddConsumable" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="imageconsumable" class="form-label">ImageConsumable:</label> 
                <InputText id="imageconsumable" @bind-Value="Consumable.ImageConsumable" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Consumable.ImageConsumable" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="typeconsumable" class="form-label">TypeConsumable:</label> 
                @* <InputText id="typeconsumable" @bind-Value="Consumable.TypeConsumable.ToString()" class="form-control" aria-required="true"/>  *@
                <ValidationMessage For="() => Consumable.TypeConsumable" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/consumables">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Consumable Consumable { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddConsumable()
    {
        using var context = DbFactory.CreateDbContext();
        context.Consumables.Add(Consumable);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/consumables");
    }
}
