@page "/consumables/edit"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@using BalatroWikiApp.Enums;
@using AntDesign
@inject IDbContextFactory<BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Consumable</h2>
<hr />
@if (Consumable is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Consumable" OnValidSubmit="UpdateConsumable" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Consumable.Id" value="@Consumable.Id" />
                <div class="mb-3">
                    <label for="imageconsumable" class="form-label">ImageConsumable:</label>
                    <InputText id="imageconsumable" @bind-Value="Consumable.ImageConsumable" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Consumable.ImageConsumable" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="typeconsumable" class="form-label">TypeConsumable:</label>
                    <EnumSelect TEnum="TypeConsumable" @bind-Value="Consumable.TypeConsumable"/>
                    <ValidationMessage For="() => Consumable.TypeConsumable" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/consumables">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Consumable? Consumable { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Consumable ??= await context.Consumables.FirstOrDefaultAsync(m => m.Id == Id);

        if (Consumable is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateConsumable()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Consumable!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ConsumableExists(Consumable!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/consumables");
    }

    private bool ConsumableExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Consumables.Any(e => e.Id == id);
    }
}
