@page "/enhancedcards/edit"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Enhancedcard</h2>
<hr />
@if (Enhancedcard is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Enhancedcard" OnValidSubmit="UpdateEnhancedcard" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Enhancedcard.Id" value="@Enhancedcard.Id" />
                <div class="mb-3">
                    <label for="nameenhanced" class="form-label">NameEnhanced:</label>
                    <InputText id="nameenhanced" @bind-Value="Enhancedcard.NameEnhanced" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Enhancedcard.NameEnhanced" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="effectenhanced" class="form-label">EffectEnhanced:</label>
                    <InputText id="effectenhanced" @bind-Value="Enhancedcard.EffectEnhanced" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Enhancedcard.EffectEnhanced" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="typeenhanced" class="form-label">TypeEnhanced:</label>
                    <InputText id="typeenhanced" @bind-Value="Enhancedcard.TypeEnhanced" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Enhancedcard.TypeEnhanced" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/enhancedcards">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Enhancedcard? Enhancedcard { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Enhancedcard ??= await context.Enhancedcards.FirstOrDefaultAsync(m => m.Id == Id);

        if (Enhancedcard is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateEnhancedcard()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Enhancedcard!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!EnhancedcardExists(Enhancedcard!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/enhancedcards");
    }

    private bool EnhancedcardExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Enhancedcards.Any(e => e.Id == id);
    }
}
