@page "/decks/create"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Deck</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Deck" OnValidSubmit="AddDeck" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="namedeck" class="form-label">NameDeck:</label> 
                <InputText id="namedeck" @bind-Value="Deck.NameDeck" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Deck.NameDeck" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="descriptiondeck" class="form-label">DescriptionDeck:</label> 
                <InputText id="descriptiondeck" @bind-Value="Deck.DescriptionDeck" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Deck.DescriptionDeck" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/decks">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Deck Deck { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddDeck()
    {
        using var context = DbFactory.CreateDbContext();
        context.Decks.Add(Deck);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/decks");
    }
}
