@page "/decks/edit"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Deck</h2>
<hr />
@if (Deck is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Deck" OnValidSubmit="UpdateDeck" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Deck.Id" value="@Deck.Id" />
                <div class="mb-3">
                    <label for="namedeck" class="form-label">NameDeck:</label>
                    <InputText id="namedeck" @bind-Value="Deck.NameDeck" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Deck.NameDeck" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="descriptiondeck" class="form-label">DescriptionDeck:</label>
                    <InputText id="descriptiondeck" @bind-Value="Deck.DescriptionDeck" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Deck.DescriptionDeck" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imagedeck" class="form-label">ImageDeck:</label>
                    <InputText id="imagedeck" @bind-Value="Deck.ImageDeck" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Deck.ImageDeck" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/decks">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Deck? Deck { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Deck ??= await context.Decks.FirstOrDefaultAsync(m => m.Id == Id);

        if (Deck is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDeck()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Deck!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DeckExists(Deck!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/decks");
    }

    private bool DeckExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Decks.Any(e => e.Id == id);
    }
}
