@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<AuthorizeView Roles="Admin">
    <h1>You are authenticated as @context.User.Identity?.Name</h1>
</AuthorizeView>