@page "/boosterpack"
@using AntDesign.TableModels;
@using System.Text.Json;
@using BalatroWikiApp.Models;
@using AntDesign;
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory;
@inject NavigationManager NavigationManager;

<Table DataSource="boosterpacks" OnRowClick="OnRowClick" TItem="Boosterpack" Class="bg-transparent" PageSize=6>
    <TitleTemplate>
        <div class="bg-transparent">
            <Title Class="title" Level="3">Booster packs</Title>
        </div>
    </TitleTemplate>
    <ColumnDefinitions>
        <PropertyColumn Property="c => c.NamePack"
                        Title="Name"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.Type"
                        Title="Type"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.NumberPack"
                        Title="Number Pack"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.NumberChoices"
                        Title="Number Choices"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.NumberProposition"
                        Title="Number Propositions"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.DescriptionPack"
                        Title="Description"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.ImageBoosterpack"
                        Title="Image" />

    </ColumnDefinitions>
</Table>

<style>
    h3.title {
        color: white;
    }

    .ant-table-container {
        background-color: white;
    }

    .ant-table-wrapper {
        margin-top: 40px;
    }

    body {
        background-image: url('/Images/Background/fond_balatro.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
</style>


@code {
    ITable _table;
    List<Boosterpack> boosterpacks = new List<Boosterpack>();

    private BalatroDBContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        boosterpacks = await context.Boosterpacks.ToListAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();


    void OnRowClick(RowData<Boosterpack> row)
    {
        Console.WriteLine($"row {row.Data.NamePack} was clicked");
    }
}
