@page "/consumable"
@using AntDesign.TableModels;
@using System.Text.Json;
@using BalatroWikiApp.Models;
@using AntDesign;
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory;
@inject NavigationManager NavigationManager;

<Table DataSource="consumables" OnRowClick="OnRowClick" TItem="Consumable" Class="bg-transparent" PageSize=6>
    <TitleTemplate>
        <div class="bg-transparent">
            <Title Class="title" Level="3">Consumable cards</Title>
        </div>
    </TitleTemplate>
    <ColumnDefinitions>
        <PropertyColumn Property="c => c.NameConsumable"
                        Title="Name"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.TypeConsumable"
                        Title="Type"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.EffectConsumable"
                        Title="Effect"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.ImageConsumable"
                        Title="Image" />

    </ColumnDefinitions>
</Table>

<style>
    h3.title {
        color: white;
    }

    .ant-table-container {
        background-color: white;
    }

    .ant-table-wrapper {
        margin-top: 40px;
    }

    body {
        background-image: url('/Images/Background/fond_balatro.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
</style>


@code {
    ITable _table;
    List<Consumable> consumables = new List<Consumable>();

    private BalatroDBContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        consumables = await context.Consumables.ToListAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();


    void OnRowClick(RowData<Consumable> row)
    {
        Console.WriteLine($"row {row.Data.NameConsumable} was clicked");
    }
}
