@page "/hand"
@using AntDesign.TableModels;
@using System.Text.Json;
@using BalatroWikiApp.Models;
@using AntDesign;
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory;
@inject NavigationManager NavigationManager;

<Table DataSource="hands" OnRowClick="OnRowClick" TItem="Hand" Class="bg-transparent" PageSize=6>
    <TitleTemplate>
        <div class="bg-transparent">
            <Title Class="title" Level="3">Hands</Title>
        </div>
    </TitleTemplate>
    <ColumnDefinitions>
        <PropertyColumn Property="c => c.NameHand"
                        Title="Name"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.BaseChips"
                        Title="Base Chips"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.BaseMult"
                        Title="Base Mult"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.ImageHand"
                        Title="Image" />

    </ColumnDefinitions>
</Table>

<style>
    h3.title {
        color: white;
    }

    .ant-table-container {
        background-color: white;
    }

    .ant-table-wrapper {
        margin-top: 40px;
    }

    body {
        background-image: url('/Images/Background/fond_balatro.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
</style>


@code {
    ITable _table;
    List<Hand> hands = new List<Hand>();

    private BalatroDBContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        hands = await context.Hands.ToListAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();


    void OnRowClick(RowData<Hand> row)
    {
        Console.WriteLine($"row {row.Data.NameHand} was clicked");
    }
}