@page "/joker"
@using AntDesign.TableModels;
@using System.Text.Json;
@using BalatroWikiApp.Models;
@using AntDesign;
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory;
@inject NavigationManager NavigationManager;

<Table DataSource="jokers" OnRowClick="OnRowClick" TItem="Joker">
    <TitleTemplate>

        <Title Level="3">Jokers</Title>
    </TitleTemplate>
    <ColumnDefinitions>
        <PropertyColumn Property="c => c.NameJoker"
                        Title="Name"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.NumberJoker"
                        Title="Number"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.RarityJoker"
                        Title="Rarity"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.PriceJoker"
                        Title="Price"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.TypeJoker"
                        Title="Type"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.DescriptionJoker"
                        Title="Description"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.SizeJoker"
                        Title="Size"
                        Sortable Filterable />
        <PropertyColumn Property="@(c => (c.HasFaceJoker ? "Yes" : "No"))"
                        Title="Face Joker"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.ImageJoker"
                        Title="Image"/>

    </ColumnDefinitions>
</Table>


@code {
    ITable _table;
    List<Joker> jokers = new List<Joker>();

    private BalatroDBContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        jokers = await context.Jokers.ToListAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();


    void OnRowClick(RowData<Joker> row)
    {
        Console.WriteLine($"row {row.Data.NameJoker} was clicked");
    }
}