@page "/othereffect"
@using AntDesign.TableModels;
@using System.Text.Json;
@using BalatroWikiApp.Models;
@using AntDesign;
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory;
@inject NavigationManager NavigationManager;

<Table DataSource="othereffects" OnRowClick="OnRowClick" TItem="OtherEffect">
    <TitleTemplate>

        <Title Level="3">Other effects</Title>
    </TitleTemplate>
    <ColumnDefinitions>
        <PropertyColumn Property="c => c.Money"
                        Title="Money"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.Creation"
                        Title="Creation"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.Copy"
                        Title="Copy"
                        Sortable Filterable />
        <PropertyColumn Property="c => c.imageOtherEffect"
                        Title="Image" />

    </ColumnDefinitions>
</Table>


@code {
    ITable _table;
    List<OtherEffect> othereffects = new List<OtherEffect>();

    private BalatroDBContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        othereffects = await context.OtherEffects.ToListAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();


    void OnRowClick(RowData<OtherEffect> row)
    {
        Console.WriteLine($"row {row.Data.Money} was clicked");
    }
}
